<head>
<meta charset="utf-8">
<title>HelloWorld</title>
</head>
<body>
  <h1>Welcom to HelloWorld!</h1>
  <h2>
    <p><a href="http://{{ ip }}/admin/"> Manage model</a></p>
    <p><a href="http://{{ ip }}/page1/"> Page1 Demo</a></p>
    <p><a href="http://{{ ip }}/page2/"> Page2 Demo</a></p>
    <p><a href="http://{{ ip }}/page3/"> Page3 Demo</a></p>
    <p><a href="http://{{ ip }}/page4/"> Page4 Demo</a></p>
    <p><a href="http://{{ ip }}/page5/"> Page5 Demo</a></p>
    <p><a href="http://{{ ip }}/add-data/"> Add data Demo</a></p>
    <p><a href="http://{{ ip }}/query-data/"> Query data Demo</a></p>
    <p><a href="http://{{ ip }}/filter-data/"> Filter data Demo</a></p>
    <p><a href="http://{{ ip }}/delete-data/"> Delete data Demo</a></p>
    <p><a href="http://{{ ip }}/update-data/"> Update data Demo</a></p>
  </h2>
</body>
